**/build
**/cache
**/dist
**/generated
**/node_modules
**/contracts/broadcast/**/*.json
!**/contracts/broadcast/**/run-latest.json
**/contracts/broadcast/*/31337
**/contracts/broadcast/**/dry-run
**/contracts/out
**/server/app
**/server/coverage
**/server/drizzle
**/server/openapi.json
**/substreams/abi
**/substreams/target
**/substreams/src/contracts
**/substreams/src/proto
**/.DS_Store
**/.env
**/*.md
**/*.log
**/*.tsbuildinfo
**/expo-env.d.ts
**/lcov.info

/.*
!.git
!.npmrc
