node_modules/
.tamagui/
.sentry/
.gradle/
.expo/
build/
dist/
web-build/
/android/
/ios/
generated/

*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

*.aab
*.apk
*.ipa
*.app
*.tar.gz
*.zip

*.log
*.dump
*.heapprofile
application_x_sentry_envelope-*.txt
lcov.info
**/.claude/settings.local.json
**/.vscode/*
!/.vscode/extensions.json
.clinic/
.nx/cache
.nx/workspace-data
.env
.env*.local
*.local.yaml
.*-version*
*.tsbuildinfo
expo-env.d.ts
.metro-health-check*
.DS_Store

# HACK istanbul + reanimated
valueUnpacker
