[profile.default]
solc_version = "0.8.29"
evm_version = "cancun"
optimizer = true
optimizer_runs = 416
deny = "warnings"
verbosity = 3
isolate = true
libs = ["../node_modules", "node_modules"]
ignored_error_codes = ["unused-param", "code-size", "init-code-size"]
fs_permissions = [
  { access = "read", path = "broadcast" },
  { access = "read", path = "deploy.json" },
  { access = "read", path = "../node_modules" },
]
ffi = true

[fmt]
tab_width = 2
sort_imports = true
bracket_spacing = true
number_underscore = "thousands"

[lint]
exclude_lints = [
  "incorrect-shift",
  "mixed-case-function",
  "mixed-case-variable",
  "pascal-case-struct",
]
ignore = ["**/*.t.sol", "**/mocks/**/*.sol"]

[profile.production.fuzz]
runs = 66_666

[profile.snapshot]
bytecode_hash = "none"

[rpc_endpoints]
base = "${BASE_RPC_URL}"
base_sepolia = "${BASE_SEPOLIA_RPC_URL}"
optimism = "${OPTIMISM_RPC_URL}"
optimism_sepolia = "${OPTIMISM_SEPOLIA_RPC_URL}"
anvil = "http://localhost:8545"

[etherscan]
base = { key = "${ETHERSCAN_KEY}" }
base_sepolia = { key = "${ETHERSCAN_KEY}" }
optimism = { key = "${ETHERSCAN_KEY}" }
optimism_sepolia = { key = "${ETHERSCAN_KEY}" }
