name: docs
on:
  push:
    branches: [sandbox]
jobs:
  docs:
    environment:
      name: github-pages
      url: ${{ steps.pages.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    env: { NX_DAEMON: false }
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: pnpm/action-setup@v4
        with:
          version: "10.28.0"
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version: "^24.13.0"
          cache: pnpm
      - uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.3.6
      - uses: actions/cache@v4
        with:
          path: .nx/cache
          key: nx-${{ runner.os }}-${{ github.sha }}
          restore-keys: nx-${{ runner.os }}-
      - run: pnpm install --frozen-lockfile
      - uses: nrwl/nx-set-shas@v4 # cspell:ignore nrwl
      - run: pnpm nx build docs
      - uses: actions/upload-pages-artifact@v3
        with:
          path: docs/dist
      - uses: actions/deploy-pages@v4
        id: pages
