name: mobile/expo
on:
  workflow_call:
    inputs:
      profile:
        required: true
        type: string
      build:
        type: boolean
        default: false
    secrets:
      EXPO_TOKEN:
      SENTRY_AUTH_TOKEN:
jobs:
  expo:
    environment:
      name: expo
      url: https://expo.dev/accounts/exactly/projects/exactly
    runs-on: ubuntu-latest
    env:
      CHAIN_ID: ${{ vars.CHAIN_ID }}
      APP_DOMAIN: ${{ vars.APP_DOMAIN }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: pnpm/action-setup@v4
        with:
          version: "10.28.1"
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version: "^24.13.0"
          cache: pnpm
      - uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.3.6
      - uses: expo/expo-github-action@v8
        with:
          packager: pnpm
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}
      - uses: actions/cache@v4
        with:
          path: .nx/cache
          key: nx-${{ runner.os }}-${{ github.sha }}
          restore-keys: nx-${{ runner.os }}-
      - run: pnpm install --frozen-lockfile
      - run: eas build --profile ${{ inputs.profile }} --platform all --non-interactive --no-wait
        if: inputs.build
      - run: eas update --auto --channel ${{ inputs.profile }} --platform all --non-interactive
      - run: echo "release=$(node -e 'console.log(require(`./src/generated/release`))')" >> $GITHUB_OUTPUT
        id: release
      - run: npx sentry-expo-upload-sourcemaps dist
        env:
          SENTRY_ORG: exactly
          SENTRY_PROJECT: exa
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_RELEASE: ${{ steps.release.outputs.release }}
      - uses: getsentry/action-release@v3 # cspell:ignore getsentry
        env:
          SENTRY_ORG: exactly
          SENTRY_PROJECT: exa
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        with:
          environment: ${{ inputs.profile }}
          release: ${{ steps.release.outputs.release }}
          finalize: ${{ inputs.profile == 'production' }}
