name: server/sandbox
on:
  push: { branches: [sandbox] }
jobs:
  build:
    uses: ./.github/workflows/server-build.yaml
    secrets: inherit
    with: { environment: sandbox }
  deploy:
    needs: build
    uses: ./.github/workflows/server-deploy.yaml
    secrets: inherit
    with: { environment: sandbox }
