name: server/base
on:
  push: { branches: [sandbox] }
jobs:
  build:
    uses: ./.github/workflows/server-build.yaml
    secrets: inherit
    with: { environment: base }
  deploy:
    needs: build
    uses: ./.github/workflows/server-deploy.yaml
    secrets: inherit
    with: { environment: base }
