name: test
on:
  push:
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      NX_DAEMON: false
      OPTIMISM_RPC_URL: ${{ secrets.OPTIMISM_RPC_URL }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: pnpm/action-setup@v4
        with:
          version: "9.15.9"
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version: "~24.12.0"
          cache: pnpm
      - uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.3.6
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: pip
          cache-dependency-path: contracts/requirements.txt
      - uses: actions/cache@v4
        with:
          path: .nx/cache
          key: nx-${{ runner.os }}-${{ github.sha }}
          restore-keys: nx-${{ runner.os }}-
      - run: pip install -r contracts/requirements.txt
      - run: |
          mkdir -p $HOME/.local/bin && cd $HOME/.local/bin
          for repo in firehose-ethereum substreams substreams-sink-sql; do
            curl -L "$(curl -s https://api.github.com/repos/streamingfast/$repo/releases/latest | jq --arg arch "$(uname -m | sed 's/aarch64/arm64/')" -r '.assets[] | select(.browser_download_url | test("linux_" + $arch)) | .browser_download_url')" | tar zxf -
          done
      - run: echo ::add-matcher::.github/matcher.json

      - run: pnpm install --frozen-lockfile
      - uses: nrwl/nx-set-shas@v4 # cspell:ignore nrwl
      - run: pnpm nx affected -t test

      - uses: codecov/codecov-action@v5
        if: ${{ !cancelled() }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: github

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: server-events
          path: server/node_modules/@exactly/.spotlight
          include-hidden-files: true
