name: test
on:
  push:
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      OPTIMISM_RPC_URL: ${{ secrets.OPTIMISM_RPC_URL }}
      NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: pnpm/action-setup@v4
        with:
          version: "9.15.9"
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version: ">=22.14.0"
          cache: pnpm
      - uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.3.6
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: pip
          cache-dependency-path: contracts/requirements.txt
      - uses: actions/cache@v4
        with:
          path: node_modules/.cache/nx
          key: nx-${{ runner.os }}-${{ github.sha }}
          restore-keys: nx-${{ runner.os }}-
      - run: pip install -r contracts/requirements.txt
      - run: echo ::add-matcher::.github/matcher.json

      - run: pnpm install --frozen-lockfile
      - uses: nrwl/nx-set-shas@v4 # cspell:ignore nrwl
      - run: pnpm nx affected -t test --outputStyle=stream-without-prefixes --parallel=1

      - uses: codecov/codecov-action@v5
        if: ${{ !cancelled() }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: github

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: server-events
          path: server/node_modules/@exactly/.spotlight
          include-hidden-files: true
